document, body, body > main{
	width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
}

.map-toolbar{
    position: absolute;
    z-index: 1;
    right: 0px;
    left: 0px;
}

.btn-service.ng-scope {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

header{
	width:100%;
	height:100px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3);
	background:white;
	overflow:hidden;
}
header img{
	height: 80px;
	margin:10px;
	margin-left:0px;
	float:left;
	width:auto;
}
header nav{
	float:right;
}
header nav ul{
	list-style:none;
	float:left;
}
header nav ul li{
	float:left;
}
header nav ul li > a {
    float: left;
    line-height: 1.5;
    padding: 13px 37px;
    text-transform: uppercase;
}
header .md-menu{
	float:right;
}

footer {
	width:100%;
	height:100px;
	background:#f5f5f5;
}

body.md-default-theme, body, html.md-default-theme, html {
    background-color: #fff !important;
}

ng-map.map {
	height: 100%;
	width: 100%;
}

fieldset {
    margin: 40px 0px;
    border: 1px solid #2c9795;
}

legend {
    font-weight: 500;
    color: #2c9795;
    margin: 5px;
    text-transform: uppercase;
}

md-sidenav md-content {
	background-color: #fbfbfb;
}

.logotipo {
	margin: 30px 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	/*background-color: #2c9795 !important;*/
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(44, 151, 149) !important;
}

md-input-container.md-icon-float>md-icon {
    color: #2c9795;
}

md-autocomplete {
    /* background: #d2edf6; */
}

.ng-map-info-window strong {
    font-size: 18px;
}

md-autocomplete md-autocomplete-wrap {
	box-shadow: none !important;
}

.footer {
    bottom: 0;
    position: absolute;
}
/*.sidebar {
    background: whitesmoke;
    height: 100%;
    display: inline-table;
}*/

md-sidenav {
	width: 330px !important;
    background-color: #fbfbfb;
}

span.md-subhead.ng-binding {
    margin-left: 15px;
}

.layout-align-start-center.layout-row.flex-100, .layout-column.flex-100 {
    border-bottom: 1px solid #dadada;
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    color: rgba(255,255,255,0.87);
    background-color: rgb(49, 153, 153) !important;
}

.md-button.md-default-theme.md-fab, .md-button.md-fab {
    background-color: rgb(237, 56, 58) !important;
    color: rgb(255,255,255);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(49, 153, 153) !important;
    color: rgba(255,255,255,0.87);
}

p.ng-binding.layout-align-end-center.layout-row.flex-30 {
    color: #319a9a !important;
}

.ng-map-info-window {
    max-width: 410px;
}

.gm-style-iw {
    max-width: 360px;
}
a {
    color: #3a3a3a;
    text-decoration: none;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    left: 230px !important;
    bottom: 20px;
    position: fixed !important;
}

md-sidenav {
    transform: inherit !important; 
}

md-sidenav md-icon.ng-scope.material-icons {
    position: relative;
    right: 5px;
}

.home, .filter{
    background-color: #c4e8f6;
    width: 100%;
}

.filtros {
    background: white;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto; 
}

@font-face{
    font-family: the_braggest;
    src url(fonts/The_Braggest.ttf);
}

.titulo-home {
    font-family: 'Parisienne', cursive;
    font-size: 37px;
    color: #989898;
}

.btn-filtros .btn-home button {
    background-color: #bfd7e6 !important
}

.services .btn-services {
    text-align: center !important;
}

.btn-filtros .btn-home button:hover {
    background-color: #9ab6c7 !important;
}

.btn-filtros .btn-home {
    margin-bottom: 20px;
}

.btn-filtros .btn-home button{
    padding: 8px 20px;
}

md-tabs-canvas {
    min-width: 460px;
}

.services .layout-align-center-center.layout-column.flex-gt-xs-50 {
    margin: 10px 45px;
}

.btn-home md-checkbox .md-container, .btn-submit-home md-checkbox .md-container{
    display: none !important;
}

.inicio md-toolbar md-icon.material-icons.ng-scope {
    color: #359b9b;
}

md-card md-icon.material-icons {
    margin: 8px;
    color: #319999;
}

 md-menu-item.itemMenu {
    border-bottom: 1px solid #e4e4e4;
}

md-content.md-padding.layout-padding._md.flex-100 {
    padding-left: 35px;
}

.btn-home button {
    background: #c4e8f6;
    padding: 8px 13px;
    width: 120px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px #989898;
    margin: 10px;
    cursor: pointer;
}

.btn-home button:hover {
   background: #a0c8d8; 
}

.submit-home {
    padding: 14px 23px;
    border: none;
    background: #80b8d8;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.submit-home:hover {
    background: #67a3c5; 
}

.home label {
    font-family: inherit;
    font-weight: 600;
    color: #989898;
    font-size: 15px;
}

.md-toolbar-tools {
    background: white;
    height: 100px !important;
}

md-toolbar ul {
    color: #737373;
    list-style: none;
}

md-toolbar ul li {
    margin-right: 27px;
}

.check md-checkbox .md-icon {
    zoom: 0.8;
}

.home md-checkbox .md-label {
    margin-left: 0 !important;
}