<div class = 'ac-select-dropdown' ng-style = '{fontSize:ac.size + "px"}'>
	<ul class = 'ac-select--dropdown-wrapper'>
		<!--<li class = 'ac-ripple ac-placeholder' ng-style = '{padding:size + "px"+" " + size + "px"}' ng-click = 'select(-1)' ng-if = 'placeholder' ng-class = '{highlight:cursorIndex == -1}'>{{placeholder}}</li>-->
		<li class = 'ac-ripple' ng-style = '{padding:ac.size + "px"+" " + ac.size + "px"}' ng-repeat = 'item in ac.searcher.results track by $index' ng-click = 'ac.select($index)' ng-class = '{highlight:ac.cursorIndex == $index}'>
			<div class = 'ac-input' type = 'checkbox' size = 'ac.size' style = 'pointer-events:none' ng-model = 'ac.boolMap[$index]'>{{ac.displayMap[$index]}}</div>	
		</li>
	</ul>
</div>