<div class = 'ac-wrapper ac-ripple'>
	<input type = 'file' style = 'display:none;'>
	<img class = 'ac-thumb' ng-src = '{{ac.link}}'>
	<!--<span class = 'ac-reset ac-ripple' ng-click = 'ac.clear(); $event.stopPropagation();'>&times;</span>-->
</div>