<div class = 'ac-wrapper'>
	<input type = 'password' value = '{{ac.text}}'>
	<span class = 'ac-icon' ng-show = 'ac.type == "date"'><svg xmlns="http://www.w3.org/2000/svg" ng-attr-width="{{ac.size}}" ng-attr-height="{{ac.size}}" ng-attr-fill = "{{ac.color}}" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path></svg></span>
	<span class = 'ac-placeholder' ng-show = 'ac.theme == "material"'>{{ac.placeholder}}</span>
	<span class = 'ac-error' ng-show = 'ac.theme == "material"'>{{ac.err}}</span>
</div>