<div class = 'ac-wrapper'>
	<input type = 'text' value = '{{ac.text}}' readonly>
	<span class = 'ac-arrow'>&#9662;</span>
	<span class = 'ac-placeholder' ng-show = 'ac.theme == "material"'>{{ac.placeholder}}</span>
	<span class = 'ac-error' ng-show = 'ac.theme == "material"'>{{ac.err}}</span>
</div>