<!--
<div class = 'ac-select-wrapper' ng-class = '{compact:ac.theme == "compact"}'>
	<input type = 'text' ng-model = 'ac.text' ng-readonly = 'ac.type != "search"'>
	<span class = 'ac-placeholder' ng-class = '{active: ac.text.toString().length > 0}'>{{ac.placeholder}}</span>
	<span class = 'ac-error'>{{ac.err}}</span>
	<span ng-show = '!ac.searcher.isSearching' class = 'ac-arrow'>&#9662;</span>
</div>
-->

<div class = 'ac-wrapper'>
	<input type = 'text' value = '{{ac.text}}' ng-readonly = 'ac.type != "search"'>
	<span class = 'ac-arrow'>&#9662;</span>
	<span class = 'ac-placeholder' ng-show = 'ac.theme == "material"'>{{ac.placeholder}}</span>
	<span class = 'ac-error' ng-show = 'ac.theme == "material"'>{{ac.err}}</span>
</div>