<div class = 'ac-wrapper'>
	<span class = 'ac-toggler' ng-show = 'ac.theme == "material"'></span><!--
	--><input type = 'checkbox' ng-show = 'ac.theme != "material"'><!--
	--><span class = 'ac-text'><ng-transclude></ng-transclude></span>
</div>