<div class = 'ac-wrapper' ng-attr-title = "{{ac.placeholder}}">
	<a class = 'ac-button ac-ripple' ng-show = 'ac.theme == "material"'>{{ac.placeholder ? ac.placeholder : "Seleccionar archivo"}}</a>
	<input type = 'file' value = '{{ac.value}}' ng-show = 'ac.theme != "material"'>
	<span class = 'ac-text' ng-show = 'ac.theme == "material"'>{{ac.text}}</span>
	<span class = 'ac-icon' ng-click = 'ac.preview()' ng-show = 'ac.link'><svg xmlns="http://www.w3.org/2000/svg" ng-attr-width="{{ac.size}}" ng-attr-height="{{ac.size}}" ng-attr-fill = "{{ac.color}}" viewBox="0 0 24 24"><path d="M19 9h-4V3H9v6H5l7 7 7-7z"></path><path d="M5 18v2h14v-2H5z"></path></svg></span>
	<span class = 'ac-error' ng-show = 'ac.theme == "material"'>{{ac.err}}</span>
</div>


<!--
<div class = 'ac-input-wrapper ac-input--file-wrapper' ng-style = '{fontSize:size+"px", height:size*2+ size*PHI + "px"}'>
	<input type = 'file' style = 'display:none;'>
	<input type = 'text' readonly ng-style = '{top:size/2+"px", padding:size / (PHI*PHI) + "px " + size / (PHI*PHI*PHI) + "px", paddingTop:size / PHI + "px", paddingLeft:size*11 + size / (PHI*PHI) +"px", paddingRight:size*PHI +"px", height:size*2+"px"}' 
		value = '{{value}}'>
	<a class = 'ac-button ac-ripple' size = 'size' ng-style = '{top:size / (PHI*PHI) +"px", width:size*11+"px"}'>{{placeholder ? placeholder : "Seleccionar archivo"}}</a>
	<span class = 'ac-error' ng-style = '{top:size + size*PHI + "px", padding: size / (PHI*PHI*PHI*PHI) + "px" + size / (PHI*PHI*PHI) + "px"}'>{{err}}</span>
	<a ng-if = 'value' ng-click = 'preview()' ng-style = '{top:size / (PHI*PHI / 2) + "px", fontSize:size+"px"}'>&#x1f517;</a>
</div>
--->