<ul class = 'ac-select-multiple--dropdown'>
	<li class = 'ac-ripple ac-select-dropdown-item' ng-repeat = 'item in ac.collection' ng-click = 'ac.select($index)' ng-class = '{highlight:ac.cursorIndex == $index}'>
		<div class = 'ac-input' type = 'checkbox' ng-model = 'ac.boolMap[$index]' size = 'ac.size'>
			<div ng-bind-html = 'ac.displayMap[$index]'></div>
		</div>	
	</li>
</ul>