/***AC-RIPPLE***/
.ac-ripple, .ac-round-ripple{
	-webkit-transform: rotate(0.000001deg);
	position: relative;
	display:inline-block;
}
.ac-ripple{
	overflow:hidden;
}
.ac-ripple .ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white; 
  animation: ripple-animation 2s forwards;
  pointer-events:none;
}
.ac-round-ripple .ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white; 
  animation: round-ripple-animation 0.4s forwards;
  pointer-events:none;
}
@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
@keyframes round-ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
}




/***TABSET***/
.ac-tabset{
    height: 100%;
    position: relative;
    float: left;
    display: inline-block;
}
.ac-tabset ul.tablist{
    width: 100%;
    display: inline-block;
    display: -webkit-box;
    border-bottom: 1px solid #ccc;
    height: 49px;
    overflow: visible;
    box-shadow: 0px 1px 3px #ccc;
    box-sizing: border-box;
}
.ac-tabset ul.tablist > li {
    float: left;
    list-style: none;
    height: 49px;
	transition:0.3s step-end border-bottom;
	position: relative;
}
.ac-tabset ul.tablist > li.active{
	/*border-bottom: 2px solid #ff5252;*/
}
.ac-tabset ul.tablist > li  a{
    height: 100%;
    line-height: 49px;
    box-sizing: border-box;
    padding: 0px 23px;
    display: block;
}
.ac-tabset .bar{
    position: absolute;
    top: 47px;
    height: 2px;
    /*background: rgb(255,82,82);*/
    transition: 0.3s ease-in-out left, width;
}
.ac-tabset .wrapper{
	height: calc(100% - 49px);
	transition: 0.3s ease-in-out height;
	overflow:hidden;
}
.ac-tabset .ac-tab-item{
	height:100%;
	overflow: auto;
}
.ac-tabset[resize='true'] .ac-tab-item{
	height:auto;
}


/***AC-INPUT***/
.ac-input{
    box-sizing: border-box;
	overflow: hidden;
	border:1px solid #ccc;
    color: black;
    /*background-color: white;*/
    display: inline-block;
	overflow: hidden;
	vertical-align: top;
}
.ac-input .ac-wrapper{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}
.ac-input input{
	background: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    cursor: text;
    z-index: 2;
    text-align: inherit;
}
.ac-input .ac-icon{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
}
.ac-input .ac-icon svg{
	vertical-align: top;
}
.ac-input[disabled]{
	color:#aaa;
}
.ac-input[disabled][theme="material"] input{
    border-style:dotted;
	cursor:not-allowed;
}
.ac-input[disabled][theme="material"] .ac-icon svg{
    fill: #aaa !important;
}
.ac-input[theme="material"]{ border:0px; }
.ac-input[theme="material"] input{ border-bottom:1px solid #ccc; }
.ac-input[theme="material"] .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #777;
    box-sizing: border-box;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:inherit;
	z-index:2;
	pointer-events:none;
}
.ac-input[theme="material"] .ac-placeholder.active{
	top: 0px !important;
	padding-top:0px !important;
	font-size: 61.8%;
}
.ac-input[theme="material"].ac-ready .ac-placeholder{ transition:0.3s ease-in-out all; }
.ac-input[theme="material"] .ac-error{
	position: relative;
    width: 100%;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: none;
}
.ac-input[theme="material"].ng-touched .ac-error{
	display: block;
}
.ac-input[theme="material"][type="file"] .ac-error{
	margin-top: -5px;
}

.ac-input[theme="flat"]{ border:1px; padding:5px; }
.ac-input[disabled][theme="flat"]{ background:#e7e7e7; border-style:dotted; }

/***AC-INPUT--DATE***/
.ac-input[type="date"] input,
.ac-input[type="datetime"] input,
.ac-input[type="time"] input{
	cursor:pointer;
}

/***AC-INPUT--CHECKBOX***/
.ac-input[type="checkbox"]{ line-height:0;}
.ac-input[type="checkbox"] .ac-wrapper{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
	height: 100%;
	line-height:0;
}
.ac-input[type="checkbox"] input{
	width:auto;
	height:13px;
}
.ac-input[type="checkbox"] .ac-text{
    display: inline-block;
    line-height: 1.3;
	vertical-align:top;
}
.ac-input[type="checkbox"] .ac-text ng-transclude > *{
    padding-left: 7px;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    float: left;
}
.ac-input[type="checkbox"] .ac-toggler{
    box-sizing: border-box;
    pointer-events: none;
    display: inline-block;
}
.ac-input[type="checkbox"] .ac-toggler:before{
	content: '';
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    display: block;
    box-sizing: border-box;
}
.ac-input[type="checkbox"] .ac-toggler.active:before {
    top: 0px;
    left: 0px;
	width: 50%;
    height: 100%;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #4FA2C2;
    border-bottom: 1px solid #4FA2C2;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.ac-input[type="checkbox"][theme="material"].ac-ready .ac-toggler:before{
	transition: .2s;
}
/*
.ac-input[type="checkbox"] .ac-text ng-transclude{
	float:left;
	padding-left:13px;
}
*/


/***AC-INPUT--RADIO***/
.ac-input[type="radio"]{ overflow: visible; line-height: 0; padding:0px; border:0px;}
.ac-input[type="radio"] .ac-wrapper{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
	height: 100%;
	line-height:0;
}
.ac-input[type="radio"] input{
	width:auto;
	height:13px;
	cursor: inherit;
}
.ac-input[type="radio"] .ac-text{
	display: inline-block;
}
.ac-input[type="radio"] .ac-toggler{
    box-sizing: border-box;
    pointer-events: none;
    display: inline-block;
}
.ac-input[type="radio"] .ac-toggler:before{
	content: '';
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    display: block;
    box-sizing: border-box;
}
.ac-input[type="radio"] .ac-toggler.active:before {
    top: 0px;
    left: 0px;
	width: 50%;
    height: 100%;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #4FA2C2;
    border-bottom: 1px solid #4FA2C2;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.ac-input[type="radio"][theme="material"].ac-ready .ac-toggler:before{
	transition: .2s;
}

/***AC-INPUT--FILE***/
.ac-input[type="file"]{ border:0px; cursor:pointer; padding:0px; }
.ac-input[type="file"] .ac-text{
	position: relative;
	box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ac-input[type="file"] .ac-button{
    color: #fff;
    background-color: #4FA2C2;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    overflow: hidden;
	line-height: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    height: 56%;
    box-sizing: border-box;
	z-index: 1;
}
.ac-input[type="file"] .ac-icon{ cursor:pointer; z-index:3; }
.ac-input[type="file"] input{ pointer-events:none; }

/***AC-INPUT--IMAGE***/
.ac-input[type="image"]{ 
	border:0px; 
	cursor:pointer; 
	padding:0px; 
	border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}
.ac-input[type="image"].ac-draggable{
	cursor:move;
}
.ac-input[type="image"].ac-outline{
	outline: 2px dashed #4FA2C2;
}
.ac-input[type="image"]:after{
	content:"";
	position:absolute;
	left:0; top:0;
	z-index:1;
	width:100%;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100&0.11+0,0.31+100;White+Gloss */
	background: -moz-linear-gradient(top,  rgba(246,248,249,0.11) 0%, rgba(229,235,238,0.21) 50%, rgba(215,222,227,0.21) 51%, rgba(245,247,249,0.31) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,0.11) 0%,rgba(229,235,238,0.21) 50%,rgba(215,222,227,0.21) 51%,rgba(245,247,249,0.31) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(246,248,249,0.11) 0%,rgba(229,235,238,0.21) 50%,rgba(215,222,227,0.21) 51%,rgba(245,247,249,0.31) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cf6f8f9', endColorstr='#4ff5f7f9',GradientType=0 ); /* IE6-9 */
	pointer-events:none;
	color: #000;
	font-size: 0.750em;
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);    
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
}
.ac-input[type="image"] .ac-wrapper{
	display:block;
} 
.ac-input[type="image"] .ac-thumb{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
	vertical-align: top;
}
.ac-input[type="image"] .ac-reset{
    position: absolute;
    cursor: pointer;
    background: white;
    border-radius: 100%;
    display: block;
    width: 50px;
    margin-left: -25px;
    box-shadow: 0px 1px 3px 0px black;
    height: 50px;
    box-sizing: border-box;
    top: -25px;
    right: -25px;
    font-size: 19px;
    padding-right: 20px;
    padding-top: 22px;
    text-align: center;
}


/***AC-SELECT-MULTIPLE***/
.ac-select-multiple{
    box-sizing: border-box;
	overflow: hidden;
    font-size: 13px;
	border:1px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
    display: inline-block;
	overflow: hidden;
    font-size: 13px;
}
.ac-select-multiple .ac-wrapper{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}
.ac-select-multiple .ac-wrapper input{
	background: inherit;
	font-size: inherit;
	color: inherit;
	box-sizing: border-box;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	cursor:pointer;
	z-index:2;
}
.ac-select-multiple .ac-wrapper .ac-arrow{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
}


/***AC-SELECT-MULTIPLE::MATERIAL***/
.ac-select-multiple[theme="material"]{ border:0px; background: transparent; }
.ac-select-multiple[theme="material"] .ac-wrapper input{ border-bottom:1px solid #ccc; }
.ac-select-multiple[theme="material"] .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #777;
    box-sizing: border-box;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:inherit;
}
.ac-select-multiple[theme="material"] .ac-placeholder.active{
	top: 0px !important;
	padding-top:0px !important;
	font-size: 61.8%;
}
.ac-select-multiple[theme="material"].ng-touched .ac-placeholder{ transition:0.3s ease-in-out all; }
.ac-select-multiple[theme="material"] .ac-error{
	position: relative;
    width: 100%;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: block;
}

.ac-select-multiple--dropdown{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: block;
    background-color: #ffffff;
    max-height: 313px;
    overflow-y: auto;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    transition: .3s ease-in-out opacity, .3s ease-in-out top;
}
.ac-select-multiple--dropdown .ac-select-dropdown-item{
    font-size: inherit;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
	cursor: pointer;
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.ac-select-multiple--dropdown .ac-select-dropdown-item:hover, .ac-select-multiple--dropdown .ac-select-dropdown-item.highlight{
	background: #eee;
	box-shadow:none;
	text-shadow:none;
}


/***AC-DATEPICKER***/
.ac-datepicker{
    box-sizing: border-box;
	overflow: hidden;
    font-size: 13px;
	border:1px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
    display: inline-block;
	overflow: hidden;
    font-size: 13px;
	padding: 5px;
}
.ac-datepicker .ac-wrapper{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}
.ac-datepicker .ac-wrapper input{
	background: inherit;
	font-size: inherit;
	color: inherit;
	box-sizing: border-box;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	cursor:pointer;
	z-index:2;
}
.ac-datepicker .ac-wrapper .ac-icon{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
}

/***AC-DATEPICKER::MATERIAL***/
.ac-datepicker[theme="material"]{ border:0px; }
.ac-datepicker[theme="material"] .ac-wrapper input{ border-bottom:1px solid #ccc; }
.ac-datepicker[theme="material"] .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #777;
    box-sizing: border-box;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:inherit;
}
.ac-datepicker[theme="material"] .ac-placeholder.active{
	top: 0px !important;
	padding-top:0px !important;
	font-size: 61.8%;
}
.ac-datepicker[theme="material"].ng-touched .ac-placeholder{ transition:0.3s ease-in-out all; }
.ac-datepicker[theme="material"] .ac-error{
	position: relative;
    width: 100%;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: block;
}

.ac-input--date-dropdown table{
	float: left;
	table-layout:fixed;
	width:100%;
	border-collapse:collapse;
}
.ac-input--date-dropdown{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: block;
    background-color: #ffffff;
    overflow-y: auto;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    width: 340px;
    overflow:hidden;
    transition: .3s ease-in-out opacity, .3s ease-in-out top;
}

.ac-input--date-dropdown .ac-header{
	float:left;width:100%;
	background:#ccc;
	color:#333;
	font-weight:lighter;
}

.ac-input--date-dropdown .ac-wrapper{
	overflow-y: auto;
    height: 300px;
    width: calc(100% + 17px);
	float:left;
	/*padding-right: 17px;*/
}
.ac-input--date-dropdown .ac-cell{
	vertical-align: middle;
	box-sizing: content-box;
	height: 44px;
	/*width: 44px;*/
	text-align: center;
	padding: 0;
	border: none;
}

.ac-input--date-dropdown .ac-month{
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.ac-input--date-dropdown .ac-month-name{
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
}


.ac-input--date-dropdown .ac-day{
	-webkit-transition: background-color,color .4s cubic-bezier(.25,.8,.25,1);
	transition: background-color,color .4s cubic-bezier(.25,.8,.25,1);
	border-radius: 50%;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color:#333;
}
.ac-input--date-dropdown .ac-day.ac-disabled{
	color:#ccc;
}
.ac-input--date-dropdown .ac-day:hover{ background:rgb(224,224,224); }
.ac-input--date-dropdown .ac-day.ac-selected{ background:#318bd4; color:white; }
.ac-input--date-dropdown .ac-day.ac-today{ border: 2px solid #318bd4; }



.ac-input--date-dropdown .ac-dropdown-item{
    font-size: inherit;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
	cursor: pointer;
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.ac-input--date-dropdown .ac-dropdown-item:hover, .ac-datepicker--dropdown .ac-select-dropdown-item.highlight{
	background: #eee;
	box-shadow:none;
	text-shadow:none;
}






/***AC-SELECT***/
.ac-select{
    box-sizing: border-box;
	overflow: hidden;
    color: black;
    /*background-color: white;*/
    cursor: pointer;
    display: inline-block;
	overflow: hidden;;
}
.ac-select .ac-wrapper{
	width:100%;
	height:100%;
	display:inline-block;
	position:relative;
}
.ac-select .ac-wrapper input{
	text-align: inherit;
	background: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height:inherit;
	color: inherit;
	box-sizing: border-box;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	cursor:pointer;
	z-index:2;
	padding-right: 5%;
}
.ac-select .ac-wrapper .ac-arrow{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 50%;
    box-sizing: border-box;
    overflow: visible;
    transform: translateY(-50%);
}
.ac-select.no-arrow .ac-arrow{
	display:none;
}
.ac-select[disabled]{
	color:#aaa;
}

/***AC-SELECT::MATERIAL***/
.ac-select[theme="material"]{ background: transparent; }
.ac-select[theme="material"] .ac-wrapper input{ border-bottom:1px solid #ccc; }
.ac-select[theme="material"] .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #777;
    box-sizing: border-box;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:inherit;
}
.ac-select[theme="material"] .ac-placeholder.active{
	top: 0px !important;
	padding-top:0px !important;
	font-size: 61.8%;
}
.ac-select[theme="material"].ng-touched .ac-placeholder{ transition:0.3s ease-in-out all; }
.ac-select[theme="material"] .ac-error{
	position: relative;
    width: 100%;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: block;
}
.ac-select[disabled][theme="material"] input{
    border-style:dotted;
	cursor:not-allowed;
}
.ac-select[disabled][theme="material"] .ac-icon svg{
    fill: #aaa !important;
}

.ac-select[theme="flat"]{
	padding: 5px;
	border:1px solid black;
}

.ac-select--dropdown{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: block;
    background-color: #ffffff;
    max-height: 313px;
    overflow-y: auto;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    transition: .3s ease-in-out opacity, .3s ease-in-out top;
}
.ac-select--dropdown .ac-select-dropdown-item{
    font-size: inherit;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
	cursor: pointer;
}
.ac-select--dropdown .ac-select-dropdown-item:hover{
	background: #e1e1e1;
}
.ac-select--dropdown .ac-select-dropdown-item.highlight{
	background: #f1f1f1;
}
.ac-select--dropdown .ac-select-dropdown-item > div{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space:nowrap;
}

/***AC-DROPDOWN***/
.ac-dropdown{
	display: inline-block;
	cursor:pointer;
}
.ac-dropdown-list {
    background-color: #fff;
    margin: 0;
    max-height: 313px;
    overflow-y: auto;
    opacity: 0;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    pointer-events: none;
    transition: .3s ease-in-out opacity, .3s ease-in-out transform;
	transform:translateY(0px);
}
.ac-dropdown-list.active {
    opacity: 1;
	/*transform: translateY(19px);*/
    pointer-events: initial;
}
.ac-dropdown-list .ac-dropdown-item{
    /*
	font-size: inherit;
    color: #5A738E;
    display: block;
    line-height: 1.5;
    float: left;
	*/
    /*min-width: 100%;*/
    box-sizing: border-box;
    display: inline-block;
	white-space: nowrap;
	vertical-align: top;
    /*
	cursor: pointer;
    white-space: nowrap;
	*/
}
.ac-dropdown-list.active  .ac-dropdown-item{
	width:100%;
}
.ac-dropdown-list .ac-dropdown-item:hover, .ac-dropdown .ac-dropdown-item.selected{
	background-color: #eee;
}
.ac-dropdown-list .ac-dropdown-item[selected]{
	background-color:#e1e1e1;
}
.ac-dropdown .ac-dropdown-item{
	display:none;
}




/***FLECHA DERECHA***/
.ac-tooltip{
	transition: .3s ease-in-out opacity;
	position:absolute;
	z-index:99;
}



/***AC-ANIMATE***/
@keyframes fade-in-from-bottom {
    from { top:73px; opacity:0; }
    to { top:0px; opacity:1; }
}
@keyframes fade-in-from-top {
    from { top:-73px; opacity:0; }
    to { top:0px; opacity:1; }
}
@keyframes fade-in-from-left {
    from { left:73px; opacity:0; }
    to { left:0px; opacity:1; }
}
@keyframes fade-in-from-right {
    from { right:73px; opacity:0; }
    to { right:0px; opacity:1; }
}
@keyframes heart-beat {
    0% { transform:scale(0); }
	61.8% { transform:scale(1.13); }
    100% { transform:scale(1); }
}
@keyframes gravity {
    from { left:-23px; top:-23px; opacity:0; transform:scale(0.7); transform:rotate(-23deg); }
    to { left:0px; opacity:1; top:0px; transform:rotate(0deg); scale:1; }
}


