<!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area bg-gray section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h4>404! Not Found</h4>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href=".">Home</a></li>
                            <li class="breadcrumb-item active">404</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->
<!-- ***** Not Found Area Start ***** -->
    <section class="error_page text-center section_padding_200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--  Not Found Text Start -->
                    <div class="not-found-text">
                        <h2 class="text-info">404</h2>
                        <h3>Oops! Page Not Found</h3>
                        <p>Sorry! the page you looking for is not found. make sure that you have typed the currect URL</p>
                        <a class="btn btn-pill btn-info m-top-15" href="." role="button"><i class="fa fa-home" aria-hidden="true"></i> GO HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Not Found Area End ***** -->