<div flex = '100' layout = 'column' ng-init="vm.init()">
	<md-toolbar layout = 'row'>
		<div layout="row" flex='100'>
			<md-toolbar-filler layout="row" layout-align="center center">
				<md-button ng-click = "vm.back()"><md-icon>arrow_back</md-icon></md-button>
			</md-toolbar-filler>
			<div class="md-padding" layout="row" layout-align="center center">
				<span class="md-title">{{centro_sanitario.nombre}}</span>
			</div>
		</div>
    </md-toolbar>

    <md-content layout layout-gt-xs ='row' layout-xs = 'column' flex='100 100'>
    	<div flex-gt-xs ='33' class='md-padding' align="center">
    		<img src='img/centro-salud.png' width="200" alt='' >
	    	<h2 class='md-title md-padding'>{{ centro_sanitario.direccion }}<br>{{ centro_sanitario.direccion2 }}
	    		{{ centro_sanitario.municipio }}, {{ centro_sanitario.codigo_postal }}<br>{{ centro_sanitario.pais }}
	    	</h2>
    		<h3 class='md-subhead md-padding'>{{ centro_sanitario.horario }}</h3>
	    	<md-button ng-href='https://www.google.com/maps/dir/?api=1&destination={{centro_sanitario.lat}},{{centro_sanitario.lng}}' title='
				How to get' target='_blank' class="md-fab">
	        	<md-icon>place</md-icon>
	        </md-button>
	        <md-button ng-href='{{centro_sanitario.pagina_web}}' title='
				Web site' target='_blank' class="md-fab md-primary">
	        	<md-icon>web</md-icon>
	        </md-button>

    	</div>
    	<div flex-gt-xs ='66' class="md-padding">
    		<md-content class="md-padding" layout="column">
			    <h2 class="md-display-1">Information</h2>
			    <div flex="100" layout="column" align="left">
			    	<h3 class='md-subhead' flex>{{centro_sanitario.descripcion_idioma_seleccionado}}</h3>
			    </div>
		    	<div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Health Center:</h2>
			    	<span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.nombre }}</span>
			    </div>
			    <div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Type of organization:</h2>
			    	<span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.tipo_organizacion }}</span>
			    </div>
 				<div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Person in charge:</h2>
			    	<span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.nombre_responsable }} {{ centro_sanitario.apellidos_responsable }}</span>
			    </div>
			    <div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Email:</h2>
			    	<span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.email }}</span>
			    </div>
			    <div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title'  flex-xs = '50'>Telephone contact:</h2><span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.telefono }}</span>
			    </div>
			    <div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Web site:</h2><a href='{{ centro_sanitario.pagina_web }}' target='_blank'><span class='md-subhead' flex-xs = '50'>{{ centro_sanitario.pagina_web }}</span></a>
			    </div>
			    <div flex="100" layout="row" layout-align="left center">
			    	<h2 class='md-title' flex-xs = '50'>Access requirements:</h2><span class='md-subhead' flex-xs = '50'>{{centro_sanitario.requisitos_acceso}}</span>
			    </div>
			</md-content>

 			<div flex="100" layout-gt-xs="row" layout-xs="colum" class="md-padding">
			    <div flex-gt-xs ='25' layout="column" layout-align="center center">
			    	<img src="img/gratis.png" alt="Free" width="100">
			    	<h2 class='md-title'>Free:<span class='md-subhead'>{{centro_sanitario.gratuito?'yes':'No'}}</span></h2>
			    </div>
			    <div flex-gt-xs ='25' layout="column" layout-align="center center">
			    	<img src="img/concertado.png" alt="Concerted" width="100">
			    	<h2 class='md-title'>Concerted:<span class='md-subhead'>{{centro_sanitario.concertado?'yes':'No'}}</span></h2>
			    </div>
			   <div flex-gt-xs ='25' layout="column" layout-align="center center">
			    	<img src="img/subvencionado.png" alt="Subsidized" width="100">
			    	<h2 class='md-title'>Subsidized:<span class='md-subhead'>{{centro_sanitario.subvencionado?'yes':'No'}}</span></h2>
			    </div>
			    <div flex-gt-xs ='25' layout="column" layout-align="center center">
			    	<img src="img/cargos.png" alt="Charges to the patient" width="100">
			    	<h2 class='md-title'>Charges:<span class='md-subhead'>{{centro_sanitario.con_cargo_al_paciente?'yes':'No'}}</span></h2>
			    </div>
			</div>
			<p class="note">{{centro_sanitario.observaciones_costes}}</p>
			     
    		<md-content class="md-padding" layout="column">
			    <h2 class="md-title">Populations served</h2>
			    <md-chips ng-model = "centro_sanitario.poblaciones_atendidas" readonly = "true">
			     	<md-chip-template>
				        <span>{{$chip.nombre}}</span>
				    </md-chip-template>
			    </md-chips>
			    <p class="note">{{centro_sanitario.observaciones_genero}}</p>
			</md-content>

			<md-content class="md-padding" layout="column">
			    <h2 class="md-title">Services offered</h2>
			    <md-chips ng-model = "centro_sanitario.servicios_ofrecidos" readonly = "true">
			     	<md-chip-template>
				        <span>{{$chip.nombre}}</span>
				    </md-chip-template>
			    </md-chips>
			</md-content>

			<md-content class="md-padding" layout="column">
			    <h2 class="md-title">Spoken languages</h2>
			    <md-chips ng-model = "centro_sanitario.idiomas_hablados" readonly = "true">
			    	<md-chip-template>
				        <span>{{$chip.nombre}}</span>
				    </md-chip-template>
				</md-chips>
				<p class="note">{{centro_sanitario.observaciones_idiomas}}</p>
			</md-content>

    	</div>
    </md-content>
</div>
