<div class="home" layout-align="top center" layout = 'column'>

	<img src="img/logo-asserta-mapa.png" alt="logo" title="Logo Asserta" width="200px" style="padding: 40px 20px ">
	
	<div class="filtros" layout="column" layout-align="top center" style="background: #fafafa;padding: 20px;border: 1px solid #e8e8e8;">

		<form name="formHome">
			<h1 class="titulo-home">What are you looking for?</h1>
				<md-content>
				    <md-tabs md-dynamic-height md-border-bottom flex>
					      <md-tab label="Filter">
					        <md-content class="md-padding">
					        	<label>CENTRE</label>
								<md-select placeholder="Select a centre" ng-model="centro" ng-change = "vm.updateFilter()" >
									<md-option>None</md-option>
							    	<md-option ng-value="centro" ng-repeat="centro in centros_sanitarios">{{ centro.nombre }}</md-option>
							    </md-select>
							    
							    <div layout="row" layout-xs="column" flex="100">
							    	<div flex-gt-xs="50">
							    		<label>COUNTRY</label>
							    		<md-select placeholder="Select a country" ng-model="pais" ng-change = "vm.updateFilter()">
											<md-option>None</md-option>
									    	<md-option ng-value="pais" ng-repeat="pais in paises">{{ pais.nombre }}</md-option>
									    </md-select>
									</div>
									<div flex-gt-xs="50">
							    		<label>PUBLIC OBJETIVE</label>
							    		<md-select placeholder="Select a target population" ng-model="poblacion" ng-change = "vm.updateFilter()">
									    	<md-option>None</md-option>
									    	<md-option ng-value="poblacion" ng-repeat="poblacion in poblaciones">{{ poblacion.nombre }}</md-option>
									    </md-select>
									</div>
							    </div>

							    <div layout="row" flex="100" class="btn-home" layout-align="center center" >
							    	<div flex-gt-xs="50" ng-repeat="profesional in profesionales">
							    		<label>{{profesional.nombre | uppercase}}</label>
								       	<md-checkbox ng-model="vm.filtros.profesionales_centros[$index]" ng-change = "vm.updateFilter()" aria-label="{{profesional.nombre | uppercase}}">
								           <button ng-if="!vm.filtros.profesionales_centros[$index]"><img src="{{profesional.icon}}" alt="{{profesional.nombre}}"></button>
								           <button ng-if="vm.filtros.profesionales_centros[$index]" style="background-color: #329999"><img src="{{profesional.icon}}" alt="{{profesional.nombre}}"></button>
								        </md-checkbox>
									</div>
							    </div>
					        </md-content>
					      </md-tab>
					       <md-tab label="Services" class="services">
					       	 	
					       	 	<md-content>
					       	 		<div class="btn-home btn-service" ng-repeat="servicio in servicios" >

							       		<md-checkbox ng-change = "vm.updateFilter()" ng-model="vm.filtros.servicios_centros[$index]" aria-label="{{servicio.nombre | uppercase}}">
								           <button ng-if="!vm.filtros.servicios_centros[$index]"><img src="{{servicio.icon}}" alt="" width="90"></button>
								           <button ng-if="vm.filtros.servicios_centros[$index]" style="background-color: #329999"><img src="{{servicio.icon}}" alt="" width="90"></button>
								           <br><span>{{servicio.nombre | uppercase}}</span>
								        </md-checkbox>

							   		</div>
					       </md-tab>
					  </md-tabs>
					  <div layout="row" class="btn-submit-home" layout-align="center center"> 	
				    	<button ng-click="vm.goMap()" class="submit-home">Search</button>				  
				    </div>
				</md-content>	
		</form>

	</div>

</div>
	







