<div flex = '100' layout = 'column' class="inicio">

	<md-toolbar>
        <div class="md-toolbar-tools" layout="row" flex="100">
	        <!-- Logotipo -->
			<div layout="row" layout-align="center center">
				<a href="./">
		    		<img src="img/logo_asserta.png" width="90" alt="" flex="80">
		  		</a>
				<!--<md-menu>
					<md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdMenu, $event)" title="Select a language">
						<md-icon class="material-icons" role="img" aria-label="language">language</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="lenguaje in lenguajes">
							<md-button ng-click = 'app.chooseLang(lenguaje)'>
								{{lenguaje.nombre}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>-->
				<br><span style="color: #b5b5b5;font-size: 15px;">{{app.idioma_seleccionado}}</span>
				<!--<md-button class="md-icon-button" ng-click = "vm.toggleSideMenu()" hide-gt-md>
	    			<md-icon>clear</md-icon>
	  			</md-button>-->
			</div>

			<!--<md-button class="md-icon-button" ng-click = "vm.toggleSideMenu()" hide-gt-md>
	    		<md-icon>menu</md-icon>
	  		</md-button>-->
	  		
			<md-card  layout = 'row' flex-gt-sm="30" flex>
				<md-icon>search</md-icon>
	        	<md-autocomplete class="md-icon-float md-block" flex ng-model="centro_sanitario" md-selected-item = 'centro_sanitario' md-selected-item-change = "vm.onSelect(centro_sanitario)" md-items = 'centro_sanitario in centros_sanitarios | filter:{nombre:searchText}' md-search-text="searchText" md-item-text = 'centro_sanitario.nombre' placeholder = "Search health center">
	         		<md-icon>place</md-icon>
					<span md-highlight-text="searchText">{{ centro_sanitario.nombre }}</span>
					 <md-not-found>Is not found.</md-not-found>
				</md-autocomplete>
	    	</md-card>
		    

	  		<!-- Buscador 
	        <md-input-container class="md-icon-float md-block">
	      		<label>Search</label>
	      		<md-icon>search</md-icon>
	     		<input ng-model="buscador" type="search" ng-change = "vm.update()">
	    	</md-input-container> -->

	    	<ul layout="row" layout-align="end center" flex hide-xs>
	    		<li ng-repeat="item in menu"><a href="{{item.enlace}}">{{item.titulo}}</a></li>
	    	</ul>

	    	<md-menu layout="row" layout-align="end center" flex="10" hide-gt-md>
	          <md-button aria-label="Open menu" class="md-icon-button" ng-click = "vm.toggleSideMenu()">
	            <md-icon>menu</md-icon>
	          </md-button>
	          <md-menu-content></md-menu-content>
	        </md-menu>
      
	    </div>
    </md-toolbar>

    <div flex = '100' layout = 'row'>

		<md-sidenav md-component-id="side-menu"  md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
			<md-button class = 'search md-fab md-fab-bottom-right' ng-show = '!vm.form.$pristine' hide-gt-md ng-click = 'vm.search()'><md-icon>search</md-icon></md-button>
		
			<form name = 'vm.form' flex = '100'>
				<md-content flex = '100'  class="md-padding" layout-padding>

					<md-menu-item class="itemMenu" ng-repeat="item in menu" hide-gt-xs>
		              <md-button ng-click="item.enlace">
		                <md-icon>{{item.icono}}</md-icon>
		                {{item.titulo}}
		              </md-button>
		               <md-menu-content></md-menu-content>
		            </md-menu-item>

					<!-- filtro País
					<md-autocomplete class="md-icon-float md-block" ng-model="pais" md-selected-item = 'pais' md-items = 'pais in paises | filter:{nombre:searchText}' md-search-text="searchText" md-item-text = 'pais.nombre' placeholder = "Search country">
		         		<md-icon>place</md-icon>
						<span md-highlight-text="searchText">{{ pais.nombre }}</span>
					</md-autocomplete>-->

					<!--<md-input-container class="md-icon-float md-block">
						<md-icon>place</md-icon>
						<md-select placeholder="Select a country" ng-model="pais" ng-change = "vm.update()">
							<md-option>None</md-option>
					    	<md-option ng-value="pais" ng-repeat="pais in paises">{{ pais.nombre }}</md-option>
					    </md-select>
					</md-input-container>-->

					<!-- filtro poblaciones y servicios atendidos-->
					<div layout="column" flex>
						<h2>For Whom</h2>
						<md-checkbox ng-model="selectedAll" ng-change="vm.checkAll()">Migrants</md-checkbox>
						<div class="check" layout="column" flex style="padding-left: 20px;" ng-repeat = 'poblacion in poblaciones | orderBy: "orden"'>
							<md-checkbox ng-model = 'vm.filtros.poblaciones_atendidas[$index]' ng-change = "vm.update()">
				        		{{poblacion.nombre}}
				      		</md-checkbox>
				      	</div>

				      	<md-checkbox ng-model="checkAllService" ng-change="vm.checkAllService()">Professionals</md-checkbox>
				      	<div class="check" layout="column" flex style="padding-left: 20px;" ng-repeat = 'servicio in servicios | orderBy: "orden"'>
						    <md-checkbox ng-model = 'vm.filtros.servicios_ofrecidos[$index]' ng-change = "vm.update()">
				        		{{servicio.nombre}}
				      		</md-checkbox>
				      	</div>
					</div>

					<div layout="column" flex>
						<h2>Host Language</h2>
						<div class="check" layout="column" flex style="padding-left: 20px;" ng-repeat = 'lenguaje in lenguajes | orderBy: "nombre"'>
						    <md-checkbox >
				        		{{lenguaje.nombre}}
				      		</md-checkbox>
				      	</div>

					</div>
		
				</md-content>
			</form>
		</md-sidenav>

		<!--<md-content layout-padding hide-xs hide-sm hide-md style="width: 450px; overflow: auto;">
	  		<md-list flex>
	  			<div layout="row">
					<md-subheader class="md-no-sticky" flex> List Health Center</md-subheader>
					<md-subheader ng-if="myPosition" class="md-no-sticky" flex="50" align="right">Approximate distance</md-subheader>
				</div>
	  			  <md-list-item class="md-2-line" ng-repeat="centro_sanitario in vm.filterCenters() | orderBy:vm.distancia_centro_sanitario" ng-click="vm.onSelect(centro_sanitario)">
			          <img src='img/centro-salud.png' class="md-avatar" alt=''>
			          <div class="md-list-item-text" layout="row">
			            <div layout="column" flex>
			            	<h3>{{ centro_sanitario.nombre }}</h3>
			            	<p>{{ centro_sanitario.tipo_organizacion }}</p>
			            </div>	
			            <p ng-if="myPosition" flex="30" layout="row" layout-align="end center">{{ vm.distancia_centro_sanitario(centro_sanitario) | number:2 }} Km</p>
			          </div>
		        </md-list-item>
	  		</md-list>
	    </md-content>-->

		<md-content flex>
		
			<ng-map zoom="{{zoom}}" class="map" flex = "100" center = "[{{position[0]}},{{position[1]}}]">
			 	
			 	<marker ng-repeat='centro_sanitario in vm.filterCenters()' on-click = "vm.showHealthCenterInfo(event, centro_sanitario)" position="{{centro_sanitario.lat}},{{centro_sanitario.lng}}" title="{{centro_sanitario.nombre}}" icon="{{icon}}"></marker>

			 	<info-window id="hc_info">
			    	<div ng-non-bindable>
			    		<a href = 'map/centros_sanitarios/{{centro_seleccionado.url}}'><strong>{{centro_seleccionado.nombre}}</strong></a>
			    		<p>{{centro_seleccionado.tipo_organizacion}}</p>
			    		<md-button class="md-fab md-mini md-primary" title='More Info' href = 'map/centros_sanitarios/{{centro_seleccionado.url}}'>
				        	<md-icon>local_hospital</md-icon>
				        </md-button>
				        <md-button ng-href='https://www.google.com/maps/dir/?api=1&destination={{localizacion}}' title='
							How to get' target='_blank' class="md-fab md-mini">
				        	<md-icon>place</md-icon>
				        </md-button>
			    	</div>
				</info-window>
			</ng-map>

		</md-content>

	</div>

</div>

<ui-view></ui-view>







